<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>GESTEVENT</title>

        <link href="../Content/SBAdmin2/sbadmin2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../Content/SBAdmin2/sbadmin2//vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
        <link href="../Content/SBAdmin2/sbadmin2//dist/css/sb-admin-2.css" rel="stylesheet">
        <link href="../Content/SBAdmin2/sbadmin2//vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="~/Content/SBAdmin2/sbadmin2/vendor/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/Admin.css" rel="stylesheet"/>

        <script src="~/JQuery/jquery-3.3.1.js"></script>
        <script src="~/Content/SBAdmin2/sbadmin2/js/sb-admin-2.js"></script>
        <script src="~/Content/SBAdmin2/sbadmin2/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Content/SBAdmin2/sbadmin2/vendor/datatables/datatable.min.js"></script>
        <script src="~/Content/SBAdmin2/sbadmin2/vendor/datatables/js/dataTables.bootstrap.js"></script>
     
    </head>
    <body>
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">GESTEVENT</a>
                </div>
                <!-- /.navbar-header -->
                @RenderPage("AdminNavbarTop.cshtml")
                @RenderPage("AdminSidebar.cshtml")
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper" style="min-height: 743px;">
                @RenderBody()
            </div>

        </div>
        <script>
            $(document).ready(
                function ()
                {
                    $('[data-toggle="tooltip"]').tooltip();
                    $('.dataTable').DataTable({ paging: false, info: false, ordering: false,"oLanguage": {"sSearch": "Recherche "}});
                }
                )
        </script>
    </body>
</html>
