@model GestEvent.Models.ConviveViewModel
@{
    ViewBag.Title = "Parking";
}

<h3 id="parkingName" style="text-align:center;margin-top:40px">@Model.Parking.ParkingInfo.Name</h3><br /><br />


<p id="parkingMaxPlaces" style="text-align:center">Nb place Maximun : @Model.Parking.ParkingInfo.MaxPlaces</p>
<p id="parkingFreePlaces" style="text-align:center">Nb place libre : @Model.Parking.ParkingInfo.FreePlaces</p>
<p id="parkingDitance" style="text-align:center">Distance : @Model.Parking.ParkingInfo.DistanceFromStart Km/h</p><br /><br />

<div style="text-align:center;">
    <p class="col-sm-4 col-sm-push-2" style="display:inline-block">Tarif total : 200</p>
    <p class="col-sm-4 col-sm-push-2" style="display:inline-block">Tarif/Heure : 300</p>
</div><br />

<div class="col-sm-12" style="display:flex;margin-top:50px">
    <button class="btn btn-default" style="margin-left:auto;margin-right:auto;">Aller à cette endroit</button>
</div>